node_modules/
package-lock.json
yarn.lock
npm-debug.log*
build/
dist/
.env
.DS_Store
.vscode/
coverage/
.idea/
*.log
*.tmp
*.bak
*.swp
*.class
*.exe
*.dll
*.so
*.dylib
*.pyc
__pycache__/
*.iml
out/
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.pid
*.seed
*.orig
*.rej
*.swo
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.log.*